.component {
    text-align: center;
    padding: 15px;
    transition: 0.3s transform ease-out;

    &:hover {
        transform: translateY(-4px);
    }
}

.icon {
    width: 22px;
    height: 22px;
}
