@import "../../styles/colors";

@height: 370px;

.content {
    height: @height;
    overflow-y: auto;
}

.centerContainer {
    composes: content;
    font-size: 28px;
    color: @grey1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: @height;
}

// remove item animation
.disappearLeave {
    opacity: 1;
    transition: all 0.5s ease-out;

    &Active {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) !important; // "important" because we have style attr for items
    }
}
