body {
    font: 14px Arial, sans-serif;
    width: 700px;
    height: 456px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

ol,
ul {
    margin: 0;
    padding-left: 18px;
}

ul {
    list-style-type: disc;
}

li {
    margin-top: 8px;
}

a {
    color: black;
    text-decoration: none;
}

a,
a:hover,
a:active,
a:focus,
button {
    cursor: pointer;
    outline: none;
}
